**Data Types and Structures Questions**

1. What are data structures, and why are they important?
    - Data structures are different ways of organizing and storing data so we can use it                efficiently. Think of them like different tools in a toolbox—each one is good for a particular kind of task. The right data structure helps your program run faster and makes the code easier to work with.

2. Explain the difference between mutable and immutable data types with examples.
    - Mutable types can be changed after they’re created—like lists. You can add, remove, or modify elements. Immutable types can’t be changed—like strings or tuples. If you try to change them, you’ll end up creating a new object instead.

3. What are the main differences between lists and tuples in Python?
    - Lists are mutable and can be modified, while tuples are immutable and cannot be changed once created. Tuples are generally used for fixed collections of items, while lists are used when the data may change.

4. Describe how dictionaries store data.
    - Dictionaries store data in key-value pairs. You use a key (like a label) to access a specific value. It’s kind of like a real-life dictionary—you look up a word (key) to find its meaning (value). This makes retrieving data very fast.

5. Why might you use a set instead of a list in Python?
    - Sets automatically remove duplicates and only store unique values. They’re also faster than lists when you need to check if an item exists. Use a set when you care about uniqueness, not order.

6. What is a string in Python, and how is it different from a list?
    - A string is a sequence of characters, like a word or sentence. It’s similar to a list in that you can loop through it or access characters by index, but strings are immutable and only hold characters. Lists can hold any type of data and are mutable.

7. How do tuples ensure data integrity in Python?
    - Since tuples are immutable, their content can’t be changed. This protects the data from accidental modification, making them great for storing fixed data that you don’t want altered during the program’s execution.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a structure that maps keys to values using a hash function. Python dictionaries use this under the hood, which allows them to find or store data very quickly using keys.

9. Can lists contain different data types in Python?
    - Yes, Python lists can hold elements of different data types. For example, a single list can contain an integer, a string, a float, and even another list.

10. Explain why strings are immutable in Python.
    - Strings are immutable to improve performance and ensure consistency. Since they can’t be changed, Python can optimize memory usage and avoid unexpected bugs from parts of the code unintentionally changing shared data.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries allow for fast lookup using keys, which is more efficient than scanning through a list. They’re great when you want to associate names (keys) with values, like storing user profiles or configuration settings.

12. Describe a scenario where using a tuple would be preferable over a list.
    - If you’re storing fixed data that shouldn’t change—like geographic coordinates (latitude, longitude)—a tuple is ideal. It guarantees that the data won’t be accidentally modified.

13. How do sets handle duplicate values in Python?
    - Sets don’t allow duplicates. If you add the same value multiple times, it will only keep one copy. This is useful when you only care about unique values in a collection.

14. How does the “in” keyword work differently for lists and dictionaries?
    - In lists, in checks if a value exists in the list. In dictionaries, it checks if a key exists—not a value. So, 3 in [1,2,3] checks for value, while 'name' in my_dict checks for the presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you can’t modify the elements of a tuple. Tuples are immutable, which means their contents are fixed once they’re created. This helps ensure that data meant to stay constant remains unchanged.

16. What is a nested dictionary, and give an example of its use case.
    - A nested dictionary is a dictionary inside another dictionary. It’s useful when dealing with structured data.

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in a dictionary is usually O(1), which means it takes constant time regardless of the size of the dictionary. This is thanks to the underlying hash table.

18. In what situations are lists preferred over dictionaries?
    - Use lists when the order of items matters, or when you’re just dealing with a simple collection of values. For example, storing a sequence of steps or a list of scores.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries used to be unordered in older versions of Python (before 3.7). Even though they maintain insertion order now, you still shouldn’t rely on it when designing your program. Retrieval is based on keys, not position, so order usually isn’t a concern with dictionaries.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - In a list, you retrieve data by index (position), like my_list[0]. In a dictionary, you retrieve data using a key, like my_dict["name"]. Lists are good for ordered collections, while dictionaries are better for labeled data with fast lookups.

**PRACTICAL QUESTIONS**

In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Sanjay Kumar"
print(name)

Sanjay Kumar

In [2]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

In [3]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [4]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
updated_sentence = sentence.replace("apple", "orange")
print(updated_sentence)

I like orange

In [5]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [6]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [7]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [8]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Indexing starts at 0

b

In [9]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [10]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [11]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [12]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [13]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [14]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [15]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [16]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [17]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [18]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [19]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [20]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Sanjay Kumar",
    "age": 24,
    "city": "Delhi"
}
print(person)

{'name': 'Sanjay Kumar', 'age': 24, 'city': 'Delhi'}

In [21]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [22]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [23]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [24]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [25]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Sanjay', 'age': 24}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Sanjay', 'age': 24}

In [26]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random# 30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)


random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

{'banana', 'apple', 'cherry'}
[1, 4, 30, 55, 86]

In [27]:
# 28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])  # Index starts at 0

date

In [28]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [29]:
# 30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}